<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>DatabaseAccess</display-name>

  <servlet>
    <servlet-name>DatabaseAccess</servlet-name>
    <servlet-class>DatabaseAccess</servlet-class>
  </servlet>
 
<servlet-mapping>
    <servlet-name>DatabaseAccess</servlet-name>
    <url-pattern>/DatabaseAccess/</url-pattern>
</servlet-mapping>
</web-app>
